# Node.js dependencies
node_modules/

# Tailwind and PostCSS build artifacts
public/
resources/_gen/

# Hugo build artifacts
hugo_stats.json

# System and editor-specific files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Logs
*.log

# OS-specific files
*.bak
*.tmp
._*

# Environment and configuration files (if any)
.env
.env.local

# Miscellaneous
npm-debug.log*
yarn-debug.log*
yarn-error.log*
certbot/
