<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Site.Title }}</title>
  {{ $style := resources.Get "css/main.css" | postCSS (dict "config" "./postcss.config.js") | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body class="flex flex-col min-h-screen text-gray-900">
  <!-- Header/Nav -->
  {{ partial "header.html" . }}

  <!-- Main Content -->
  <main class="flex-grow">
    {{ block "main" . }}{{ end }}
  </main>

  <!-- Footer -->
  {{ partial "footer.html" . }}
</body>
</html>

